.item-select {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 38px;
    height: 38px;
    background-color: darkgray;
    border: 1px gray solid;
}
.item-select .quantity {
    font-family: osrs-small;
    position: absolute;
    top: 0px;
    right: 0px;
    color: yellow;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}