<ion-content>
  <ion-grid fixed>
      <div *ngIf="loading">
        Loading...
      </div>
      <div *ngIf="error">
        <h2>Error :(</h2>
        <div>{{error}}</div>
      </div>
      <div *ngIf="loadout">
        <ion-grid>
          <ion-row>
            <h1>{{loadout.name}}</h1>
          </ion-row>
          <ion-row>
            <h3>{{loadout.activity?.name}}</h3>
          </ion-row>
          <ion-row>
            <h4>{{loadout.activity?.type}}</h4>
          </ion-row>
          <ion-row>
            <ion-col>
              <paper-doll [slots]="loadout.equipment"></paper-doll>
            </ion-col>
            <ion-col>
              <inventory [slots]="this.loadout?.inventory"></inventory>
            </ion-col>
          </ion-row>
          <ion-row>
            <item-details></item-details>
          </ion-row>
        </ion-grid>
      </div>
  </ion-grid>
</ion-content>
