  <ion-row class="row">
    <item-select class="equipment-slot" [item]="slots[0]"></item-select>
  </ion-row>
  <ion-row class="row">
    <item-select class="equipment-slot" [item]="slots[1]"></item-select>
    <item-select class="equipment-slot" [item]="slots[2]"></item-select>
    <item-select class="equipment-slot" [item]="slots[13]"></item-select>
  </ion-row>
  <ion-row class="row row-3">
    <item-select class="equipment-slot" [item]="slots[3]"></item-select>
    <item-select class="equipment-slot" [item]="slots[4]"></item-select>
    <item-select class="equipment-slot" [item]="slots[5]"></item-select>
  </ion-row>
  <ion-row class="row">
    <item-select class="equipment-slot" [item]="slots[7]"></item-select>
  </ion-row>
  <ion-row class="row row-5">
    <item-select class="equipment-slot" [item]="slots[9]"></item-select>
    <item-select class="equipment-slot" [item]="slots[10]"></item-select>
    <item-select class="equipment-slot" [item]="slots[12]"></item-select>
  </ion-row>