<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="error">
      Error :(
    </div>
    <div *ngIf="loadout">
      <h1>{{loadout.name}}</h1>
      <ion-list>
        <ion-list-header>Equipment</ion-list-header>

        <ion-item *ngIf="!loadout.equipment?.length">None</ion-item>
        <ion-item *ngFor="let item of loadout.equipment">
          <img [src]="item.icon_url">
          <ion-label>
            <h2>{{item.name}}</h2>
            <p>Slot: {{item.slot}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <div style="width:144px">
        <div *ngFor="let inventorySlotId of inventorySlotIds" style="display:inline-block; vertical-align:top; width: 36px; height: 36px; background-color:darkgray;border:1px gray solid">
            <img *ngIf="loadout.inventory[inventorySlotId]" [src]="loadout.inventory[inventorySlotId]?.icon_url">
        </div>
      </div>
    </div>
  </div>
</ion-content>
